<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.104.2" />
    <title>TEMPLATE TROPICAL - ClienteS</title>

    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, 0.1);
        border: solid rgba(0, 0, 0, 0.15);
        border-width: 1px 0;
        box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
          inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -0.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet" />
  </head>
  <body>
    <header
      class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow"
    >
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#"
        >Company name</a
      >
      <button
        class="navbar-toggler position-absolute d-md-none collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu"
        aria-controls="sidebarMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-nav">
        <div class="nav-item text-nowrap">
          <a class="nav-link px-3" href="logout">Cerrar sessión</a>
        </div>
      </div>
    </header>

    <div class="container-fluid">
      <div class="row">
        <nav
          id="sidebarMenu"
          class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
        >
          <div class="position-sticky pt-3 sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/">
                  <span data-feather="home" class="align-text-bottom"></span>
                  Inicio
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                  <span data-feather="file" class="align-text-bottom"></span>
                  Ordenes
                </a>
              </li>
            </ul>
            <h6
              class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase"
            >
              <span>Matenimientos</span>
              <!-- <a class="link-secondary" href="#" aria-label="Add a new report">
                <span
                  data-feather="plus-circle"
                  class="align-text-bottom"
                ></span>
              </a> -->
            </h6>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/clientes">
                  <span data-feather="users" class="align-text-bottom"></span>
                  Clientes
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/presentaciones">
                  <span data-feather="layers" class="align-text-bottom"></span>
                  Presentaciones
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/productos">
                  <span
                    data-feather="shopping-cart"
                    class="align-text-bottom"
                  ></span>
                  Products
                </a>
              </li>
            </ul>

            <h6
              class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase"
            >
              <span>Reportes</span>
              <a class="link-secondary" href="#" aria-label="Add a new report">
                <span
                  data-feather="plus-circle"
                  class="align-text-bottom"
                ></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span
                    data-feather="bar-chart-2"
                    class="align-text-bottom"
                  ></span>
                  Reportes
                </a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">
                  <span
                    data-feather="file-text"
                    class="align-text-bottom"
                  ></span>
                  Current month
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span
                    data-feather="file-text"
                    class="align-text-bottom"
                  ></span>
                  Last quarter
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span
                    data-feather="file-text"
                    class="align-text-bottom"
                  ></span>
                  Social engagement
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span
                    data-feather="file-text"
                    class="align-text-bottom"
                  ></span>
                  Year-end sale
                </a>
              </li> -->
            </ul>
          </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 pt-3">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="javascript:void(0)">Matenimiento</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Clientes
                    </li>
                  </ol>
                </nav>
              </div>
              <div class="col-md-12 mt-2 d-flex justify-content-end">
                <div id="btn_nuevo">
                  <button class="btn btn-sm btn-info" onclick="btnNew()">
                    <i class="fas fa-plus"></i> Nuevo Cliente
                  </button>
                </div>
              </div>
              <div class="col-md-12 mt-2" id="table" style="display: none">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr class="table-primary">
                        <th>Id</th>
                        <th>Documento</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo</th>
                        <th>Acción</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if(data.length == 0){ %>
                      <tr>
                        <td colspan="6" class="table-warning text-center">
                          NO HAY DATA PARA MOSTRAR
                        </td>
                      </tr>
                      <% }else{ data.forEach(function(item){ %>

                      <tr>
                        <td><%= item.id %></td>
                        <td><%= item.document %></td>
                        <td><%= item.name %></td>
                        <td><%= item.last_name %></td>
                        <td><%= item.email %></td>
                        <td width="10%" class="text-center">
                          <button
                            onclick="mtdEdit(<%=item.id %>)"
                            type="button"
                            class="btn btn-sm btn-success"
                            data-bs-toggle="tooltip"
                            data-bs-placement="top"
                            title="Editar"
                          >
                            <i class="fas fa-edit"></i>
                          </button>
                          <button
                            onclick="mtdDelete(<%=item.id %>)"
                            type="button"
                            class="btn btn-sm btn-danger"
                            data-bs-toggle="tooltip"
                            data-bs-placement="top"
                            title="Eliminar"
                          >
                            <i class="fas fa-trash"></i>
                          </button>
                        </td>
                      </tr>
                      <% }) } %>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-md-12" id="form">
                <div class="row g-3">
                  <form id="formCliente" action="/client/action" method="post">
                    <input type="hidden" id="action" name="action" />
                    <input type="hidden" id="id" name="id" />
                    <input type="hidden" id="userid" name="userid" />
                    <div class="col-md-8">
                      <label for="document" class="form-label">Documento</label>
                      <input
                        type="text"
                        class="form-control"
                        id="document"
                        name="document"
                        required
                        placeholder="Documento de Cliente"
                      />
                    </div>
                    <div class="col-md-8">
                      <label for="name" class="form-label">Nombre</label>
                      <input
                        type="text"
                        class="form-control"
                        id="name"
                        name="name"
                        required
                        placeholder="Nombre de Cliente"
                      />
                    </div>
                    <div class="col-md-8">
                      <label for="last_name" class="form-label"
                        >Apellidos</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="last_name"
                        name="last_name"
                        required
                        placeholder="Apellido de Cliente"
                      />
                    </div>
                    <div class="col-md-8">
                      <label for="email" class="form-label">Correo</label>
                      <input
                        type="email"
                        class="form-control"
                        id="email"
                        name="email"
                        aria-describedby="inputGroupPrepend2"
                        required
                        placeholder="Correo del Cliente"
                      />
                    </div>
                    <div class="col-12 mt-2">
                      <button
                        class="btn btn-danger"
                        type="button"
                        onclick="backPage()"
                      >
                        Cancelar
                      </button>
                      <button class="btn btn-primary ml-1" type="submit">
                        Guardar
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>

    <script src="js/bootstrap.bundle.min.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
      integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
      integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
      crossorigin="anonymous"
    ></script>
    <script src="js/dashboard.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
      crossorigin="anonymous"
    ></script>
    <script>
      $(document).ready(function () {
        let view = "table";
        $("#table").attr("style", "display:block");
        $("#btn_nuevo").attr("style", "display:block");
        $("#form").attr("style", "display:none");
      });

      function btnNew() {
        $("#table").attr("style", "display:none");
        $("#btn_nuevo").attr("style", "display:none");
        $("#form").attr("style", "display:block");
        $("#action").val("store");
      }
      function backPage() {
        $("#table").attr("style", "display:block");
        $("#btn_nuevo").attr("style", "display:block");
        $("#form").attr("style", "display:none");
        $("#action").val("");
      }

      function mtdEdit(id) {
        $.ajax({
          url: "/client/show/" + id,
          type: "GET",
          success: function (response) {
            $("#table").attr("style", "display:none");
            $("#btn_nuevo").attr("style", "display:none");
            $("#form").attr("style", "display:block");
            $("#action").val("update");
            $("#id").val(id);
            $("#userid").val(response.data.user_id);
            $("#document").val(response.data.document);
            $("#name").val(response.data.name);
            $("#last_name").val(response.data.last_name);
            $("#email").val(response.data.email);
          },
          error: function (error) {
            console.log(error);
          },
        });
      }

      function mtdDelete(id) {
        let respuesta = confirm("¿Desea eliminar este cliente?");
        if (respuesta == true) {
          $.ajax({
            url: "/client/delete",
            data: {
              id: id,
            },
            type: "POST",
            success: function (response) {
              window.location.reload();
            },
            error: function (error) {
              console.log(error);
            },
          });
        }
      }
    </script>
  </body>
</html>
