<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.104.2" />
    <title>TEMPLATE TROPICAL - Usuarios</title>

    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, 0.1);
        border: solid rgba(0, 0, 0, 0.15);
        border-width: 1px 0;
        box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
          inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -0.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet" />
  </head>
  <body>
    <%- include('./partials/header'); %>

    <div class="container-fluid">
      <div class="row">
        <%- include('./partials/nav',{nav: 'user'}); %>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 pt-3">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="javascript:void(0)">Matenimiento</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Usuarios
                    </li>
                  </ol>
                </nav>
              </div>
              <div class="col-md-12 mt-2 d-flex justify-content-end">
                <div id="btn_nuevo">
                  <button class="btn btn-sm btn-info" onclick="btnNew()">
                    <i class="fas fa-plus"></i> Nuevo usuario
                  </button>
                </div>
              </div>
              <div class="col-md-12 mt-2" id="table" style="display: none">
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr class="table-primary">
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Acción</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if(data.length == 0){ %>
                      <tr>
                        <td colspan="3" class="table-warning text-center">
                          NO HAY DATA PARA MOSTRAR
                        </td>
                      </tr>
                      <% 
                        }else{ 
                          data.forEach(function(item){
                      %>

                        <tr>
                          <td><%= item.id %></td>
                          <td><%= item.name %></td>
                          <td width="10%" class="text-center">
                            <button onclick="mtdEdit(<%=item.id %>)" type="button" class="btn btn-sm btn-success" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"><i class="fas fa-edit"></i></button>
                            <button onclick="mtdDelete(<%=item.id %>)" type="button" class="btn btn-sm btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar"><i class="fas fa-trash"></i></button>
                          </td>
                        </tr>
                      <% }) } %>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-md-12" id="form">
                <div class="row g-3">
                  <form id="formCliente" action="/user/action" method="post">
                    <input type="hidden" id="action" name="action">
                    <input type="hidden" id="id" name="id">
                    <div class="col-md-8">
                      <label for="name" class="form-label">Nombre</label>
                      <input
                        type="text"
                        class="form-control"
                        id="name"
                        name="name"
                        required
                        placeholder="Nombre de usuario"
                      />
                    </div>
                    <div class="col-md-8">
                      <label for="name" class="form-label">Usuario</label>
                      <input
                        type="text"
                        class="form-control"
                        id="user"
                        name="user"
                        required
                        placeholder="Nombre de usuario"
                      />
                    </div>
                    <div class="col-md-8">
                      <label for="name" class="form-label">Contraseña</label>
                      <input
                        type="password"
                        class="form-control"
                        id="pass"
                        name="pass"
                        required
                        placeholder="Contraseña"
                      />
                    </div>
                    <div class="col-md-8">
                      <label for="" class="form-label">Rol</label>
                      <select class="form-control" id="role" name="role" required>
                        <option value="">[Seleccione un rol..]</option>
                        <% 
                          role.forEach(function(item){
                        %>
                        <option value="<%=item.id %>"> <%=item.name %> </option>
                        <% }) %>
                      </select>
                    </div>
                    <div class="col-12 mt-2">
                      <button
                        class="btn btn-danger"
                        type="button"
                        onclick="backPage()"
                      >
                        Cancelar
                      </button>
                      <button class="btn btn-primary ml-1" type="submit">
                        Guardar
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>

    <script src="js/bootstrap.bundle.min.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
      integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
      crossorigin="anonymous"
    ></script>
    <!-- <script
      src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
      integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
      crossorigin="anonymous"
    ></script> -->
    <script src="js/dashboard.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
      crossorigin="anonymous"
    ></script>
    <script>
      $(document).ready(function () {
        let view = "table";
        $("#table").attr("style", "display:block");
        $("#btn_nuevo").attr("style", "display:block");
        $("#form").attr("style", "display:none");
      });

      function btnNew() {
        $("#table").attr("style", "display:none");
        $("#btn_nuevo").attr("style", "display:none");
        $("#form").attr("style", "display:block");
        $('#action').val('store');
      }
      function backPage() {
        $("#table").attr("style", "display:block");
        $("#btn_nuevo").attr("style", "display:block");
        $("#form").attr("style", "display:none");
        $('#action').val('');
      }

      function mtdEdit(id){
        $.ajax({
            url: '/user/show/'+id,
            type: 'GET',
            success : function(response){
              $("#table").attr("style", "display:none");
              $("#btn_nuevo").attr("style", "display:none");
              $("#form").attr("style", "display:block");
              $('#action').val('update');
              $('#id').val(id);
              $('#name').val(response.data.name);
              $('#username').val(response.data.username);
            },
            error: function(error){
              console.log(error);
            }
          });
      }

      function mtdDelete(id) {
        let respuesta = confirm('¿Desea eliminar este usuario?');
        if (respuesta == true) {
          $.ajax({
            url: '/user/delete',
            data: {
              'id':id
            },
            type: 'POST',
            success : function(response){
              window.location.reload();
            },
            error: function(error){
              console.log(error);
            }
          });
        }
      }
    </script>
  </body>
</html>
